*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-grey: #f0f2f4;
    --clr-dark: #061A40;
    --clr-light-dark: #3F3D56;
    --clr-light-dark2: #585B89;
    --clr-accent: #16e0bd;
    --clr-blue: #3a7bd5;
    --clr-purple: #6C63FF;
    --clr-light-blue: #00d2ff;
    --clr-red: #f50157;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold)
}


/* Buttons */

.btn {
    display: inline-block;
    padding: .9em 1.5em;
    background: var(--clr-light-blue);
    color: white;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin-top: 4em;
}
/* when you click on it */
.btn:focus {
    outline: 3px solid var(--clr-dark);
    outline-offset: 3px;
}

/* when the mouse go over it */
.btn:hover {
    transform: scale(1.1);
    background-color: var(--clr-dark);
}
.btn-outline {
    display: inline-block;
    padding: .9em 1.5em;
    background: var(--clr-light);
    border: 1px solid var(--clr-light-blue);
    color: var(--clr-light-blue);
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin-top: 4em;
}
.btn-outline:hover {
    border: 1px solid var(--clr-dark);
    color: var(--clr-dark);
    transform: scale(1.1);
}
.btn-underline {
    display: inline-block;
    padding: .9em 1.5em;
    background: var(--clr-light);
    color: var(--clr-light-blue);
    text-decoration: underline;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    margin-top: 4em;
    transition: transform 200ms ease-in-out;
}
.btn-underline:hover {
    color: var(--clr-dark);
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

/* cela permet de toujours afficher "virginie Lenoir" sur une seule ligne*/
.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: linear-gradient(to right, #00d2ff, #5467E5); 
    color: white;
    padding: .40em .80em;
    font-family: var(--ff-secondary);
    margin-bottom: .50em;
}

/* header */

.nav {
    position: fixed;
    background: var(--clr-dark);
    opacity: .9;
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-reg);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-light-blue);
    text-decoration: none;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
    background: var(--clr-light-blue);

}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    background: var(--clr-light-blue);

}

.nav-open .hamburger::after {
    opacity: 0;
    background: var(--clr-light-blue);

}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
    background: var(--clr-dark);

}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


/*  Intro section  */

.intro {
    position: relative;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 800px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 200px;
        min-height: 230px;
        ;
        position: relative;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}
@media (max-width: 800px) {
    
    .intro__img {
        grid-area: img;
        width: 200px;
        height: auto;
        ;
        position: relative;
    }
}

/*  My services section  */

.my-services {
    background: var(--clr-grey);
    background-size: cover;
    color: var(--clr-dark);
    text-align: center;
}

.section__title--services {
    color: var(--clr-dark);
    position: relative;
}

/*Barre en dessous de What I do */
.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto .5em;
    background: var(--clr-light);
    opacity: 0.25;
}

.stack{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}
.stack img {
    margin-top: 1em;
    margin-right: .7em;
    margin-bottom: .5em;
}
.stack img.figma {
    width: 25px;
    height: auto;
}

.text-content p{
    text-align: justify;
    margin-bottom: 4em;
}

@media (min-width: 800px) {
    .services {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
    /* Selects all h3 elements inside <div service> elements */
    .service h3 {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .flexbox {
        margin: 4em 0;
        display: flex;
        align-items: center;
    }
    img.image-services {
        max-width: 250px;
    }
    .flexbox > .image:nth-child(1) {
        margin-right: 5em;
    }
    .flexbox > .image:nth-child(2) {
        margin-left: 5em;
    }
}


@media screen and (max-width: 799px){
    .flexbox {
        display: flex;
        flex-direction: column;
        margin: 3em 0;
    }
    .flexbox > .image {
        display: none !important;
    }
}

/* About me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
    /*margin-bottom: -3em;*/
}

@media (min-width: 900px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 380px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 1;
        margin-top: 5em;
        position: relative;
        width: calc(100%);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
        font-size: 1.25rem;
    }

    .about-me__body {
        grid-column: 1;
        text-align: justify;
        margin-top: 1em;
    }

    .about-me__img {
        grid-area: img;
        margin-top: 2em;
        position: relative;
        height: 325px;
    }
}
@media (max-width: 899px){
    .about-me__img{
        display: none;
    }
}

/* My certifications */

.my-certifications {
    background: var(--clr-grey);
    color: var(--clr-dark);
    text-align: justify;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-certifications{
    width: 400px;
    height: auto;
    margin-right: 4em;
}
@media screen and (max-width: 700px){
    .image-certifications{
        display: none;
    }
    .flexbox {
        display: flex;
        flex-direction: column;
    }
}
.certifications-list > ul {
    padding: 0;
}

.subtitle--certifications {
    margin-bottom: 1.5em;
    text-align: center;
}

li {
    list-style: none;
    line-height: 2em;
}

li a {
    color: var(--clr-light-dark2);
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
    color: var(--clr-light-blue);
}

/* My work */

.section__subtitle {
    font-size: var(--fs-h2);
}

.section__subtitle--work {
    color: var(--clr-light-blue);
    font-weight: var(var(--fw-bold));
    margin-bottom: 2em;
}

.my-work {
    /*background-color: var(--clr-dark);*/
    color: var(--clr-dark);
    text-align: center;
}

.portfolio__img {
    width: 500px;
    height: 300px;
    padding: .5em;
}

.portfolio {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1em;
}

.portfolio__item {
    background: var(--clr-light);
    overflow: hidden;
    text-decoration: none;
    
}

.portfolio__item p{
    padding: 0 1.5em;
    
}

/* hover animation */

/* .portfolio__img {
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 200ms linear;
} */

/* .portfolio__img:hover {
    transform: scale(1.1);
    opacity: .9;
} */

/* Footer */

.footer {
    display: grid;
    grid-template-rows: 2;
    /* background: linear-gradient(to right, #ff512f, #dd2476); */
    background: linear-gradient(to right, #00d2ff, #6C63FF); 
    color: white;
    text-align: center;
    padding: 2.5em 0;
}

.footer_link {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 22px;
}

.footer_link:hover {
    transform: scale(1.1);
    color: var(--clr-dark);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-size: 22px;
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    transform: scale(1.1);
    color: var(--clr-dark);
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
    color: white;
}

.social-list__item:hover {
    transform: scale(1.1);
    color: #40407a;
}

.social-list__link {
    padding: .5em;
}

.copyright {
    margin-top: 3em;
    margin-bottom: 0px;
    font-size: 14px;
}

/* ===================== hover on cards ===================== */

.img-container{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.img-caption{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 1em;
    background: #A8A8A8;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    cursor: pointer;
    text-align: center; 
    font-size: 1.2em;
    border-radius: 5px;
    transition: all 0.8s ease-out;
}

.img-caption a{
	color: #fff;
}

.img-container:hover .img-caption{
	opacity: 0;
}

.bottom-top{
	top: 100%;
	left: 0;
}

.img-container:hover .img-caption{
	top: 0;
	left: 0;
	transition: all 0.6s ease-out;
}

.img-container:hover .img-caption {
	opacity: 1;
}
